<p id="notice"><%= notice %></p>

<p>
  <strong>Producto:</strong>
  <%= @gallery.product_id %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @gallery.photo %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
